<div class="container">
    <mat-card class="card-d">
        <mat-card-header>
            <mat-card-title>{{restaurant.name}}</mat-card-title>
            <mat-card-subtitle>{{restaurant.location}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button (click)="goBack()" color="primary" style="float: left;">Go back</button>
            <!-- <a routerLink="/restaurant/{{restaurant.id}}/update">
                <button mat-raised-button color="warn" style="float: right;">DELETE</button>
            </a>
            <a routerLink="/restaurant/{{restaurant.id}}/delete">
                <button mat-raised-button color="accent" style="float: right;">UPDATE</button>
            </a> -->
        </mat-card-actions>
        <br>
    </mat-card>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]">
    </mat-paginator>
</div>


<form (submit)="addFood(postForm)" #postForm="ngForm" class="form-f">
    <mat-form-field>
        <input type="text" matInput name="name" ngModel required #name="ngModel">
        <mat-label>Name</mat-label>
        <mat-error *ngIf="name.invalid">
            Please Enter A Food Name
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="number" matInput name="price" ngModel required #price="ngModel">
        <mat-label>Price</mat-label>
        <mat-error *ngIf="price.invalid">
            Please Enter Food Price.
        </mat-error>
    </mat-form-field>
    <span></span>
    <button mat-raised-button color="accent" type="submit">Add Food</button>
</form>