<form (submit)="onSubmit(postForm)" #postForm="ngForm" class="form-c">
    <mat-form-field>
        <input type="text" matInput name="name" ngModel required #name="ngModel">
        <mat-label>Name</mat-label>
        <mat-error *ngIf="name.invalid">
            Please Enter A Valid Restaurant Name
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput name="location" ngModel required #location="ngModel">
        <mat-label>Location</mat-label>
        <mat-error *ngIf="location.invalid">
            Please Enter Valid Location.
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Restaurant</button>
</form>

<mat-grid-list cols="3" rowHeight="fit" style="height: 400px;" gutterSize="10px" *ngIf="restaurants.length>0">
    <mat-grid-tile *ngFor="let restaurant of restaurants">
        <mat-card class="card">
            <mat-card-title>{{restaurant.name}}</mat-card-title>
            <mat-card-subtitle>{{restaurant.location}}</mat-card-subtitle>
            <mat-card-actions>
                <a routerLink="/restaurant/{{restaurant.id}}">
                    <button mat-button color="primary" style="float: right;">Details</button>
                </a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>